@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    width: 0;
    display: none;
  }

  .gradient-mask {
    position: relative;
  }

  .gradient-mask::before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 2.5rem;
    right: 0;
    height: 64px;
    background: linear-gradient(to bottom, #faf9fa 0%, #faf9fa00 100%);
    z-index: 1;
  }

  .gradient-mask::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: 2.5rem;
    right: 0;
    height: 64px;
    background: linear-gradient(to top, #faf9fa 0%, #faf9fa00 100%);
    z-index: 1;
  }
}

.excalidraw .layer-ui__wrapper__top-right > *,
.excalidraw .layer-ui__wrapper__footer-right,
.main-menu-trigger,
.App-toolbar__divider,
.App-toolbar__extra-tools-trigger {
  display: none !important;
}

.excalidraw .layer-ui__wrapper__top-right > button {
  display: flex !important;
}

.modal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal-overlay .modal {
  background: white;
  border-radius: 0.3rem;
  max-width: 500px;
}

.modal-overlay .modal .modal-top {
  display: flex;
  justify-content: flex-end;
  padding-right: 16px;
}

.modal-overlay .modal .modal-top button {
  font-size: 24px;
}

.modal-overlay .modal .question-panel {
  margin-top: 24px;
  padding: 40px 25px 24px;
  background-color: #fafafa;
  border-radius: 10px;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #cacaca;
  height: 8px;
  z-index: 1;
}

input[type='range']::-webkit-slider-thumb {
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
  cursor: pointer;
  background: white;
  border: 1px solid #16c1fb;
  border-radius: 50%;
}

.carousel-item button {
  opacity: 0;
  transition: all 0.5s;
}

.carousel-item:hover button {
  opacity: 1;
}

.story-item {
  z-index: -1;
}

.story-item button {
  opacity: 0;
  transition: all 0.5s;
}

.story-item > div:hover button {
  opacity: 1;
}

.story-item .date-content {
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  z-index: 100;
}

.story-item .date-content::before {
  content: '';
  display: block;
  position: absolute;
  width: 4px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #e4e4e4;
  z-index: -1;
}

.color-modal-wrapper {
  box-shadow:
    0 47px 74px rgba(0, 0, 0, 0.06),
    0 9.4px 12.025px rgba(0, 0, 0, 0.12);
}
